

.
.title{
		position:absolute;
		right:.01%;
		top:-1%;
		width:100%;
		height:10%;
		padding-right:-30px;
		margin:0 auto;
		background-color:#ffffff;
		background-size:cover;
		}




    














	 





.
 
 

